# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
!.env.full.example

!.nuxt/eslint.config.mjs

/coverage

# VitePress
docs/.vitepress/dist
docs/.vitepress/cache

*.sqlite

.lighthouseci
.playwright-mcp

*.local.*
*.txt

coverage-report.*

# AI Agents & Skills Local Links
# 目前通过本地链接的方式来进行复用配置，故不提交到版本库中。
.claude/agents
.claude/skills
.vercel
