// Global SCSS variables and styles
$primary-color: #3498db;GlobalSCSSvariablesandstyles$primary-color

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
